<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="views/img/favicon.png">

    <title>Администраторская</title>

    <!-- Bootstrap core CSS -->
    <link href="views/css/bootstrap.min.css" rel="stylesheet">
    <link href="views/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="views/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--right slidebar-->
    <link href="views/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="views/css/style.css" rel="stylesheet">
    <link href="views/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

 
  <body>
      <?php //включение модального окна 
        if(@$modal === 'on_1') {echo "<body onLoad=" . "document.getElementById("."'sbm_1'".").click()>";} // добавление офиса  
        if(@$modal === 'on_2') {echo "<body onLoad=" . "document.getElementById("."'sbm_2'".").click()>";} // редактирование офиса
        if(@$modal === 'on_3') {echo "<body onLoad=" . "document.getElementById("."'sbm_3'".").click()>";} // изменение картинки офиса
      ?>
      
      <a id="sbm_1" href="#myModal_1" data-toggle="modal"></a>
      <a id="sbm_2" href="#myModal_2" data-toggle="modal"></a>
      <a id="sbm_3" href="#myModal_3" data-toggle="modal"></a>
      
      <section id="container" class="">
          
      <!-- Шапка сайта -->
      <?php include $user  ?>
      <!-- Шапка сайта -->
          
      <!-- Меню сайта -->
      <?php include $aside ?>
      <!-- Меню сайта -->
          
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
              
          <!-- Фильтр по офису -->
          <div class="row" style="padding-left: 15px;padding-right: 0px;padding-top: 0px;">
            <div class="form-group">
                <div class="tools pull-right" style="padding-left: 0px;padding-right: 15px;padding-top: 0px;">
                    <form action="?action=modal_add_office" method="post" >
            
                        <button class="btn btn-success btn-sm">Добавить офис</button>
                    </form>
                </div>
                <br>
              </div>
           </div>
           <!-- Фильтр по офису-->
           <!-- Фильтр по 1 букве названия офиса-->
           <ul class="directory-list">
               <li><a href="?location=add_office&filter=*">все </a></li>
               <li><a href="?location=add_office&filter=а">а</a></li>
               <li><a href="?location=add_office&filter=б">б</a></li>
               <li><a href="?location=add_office&filter=в">в</a></li>
               <li><a href="?location=add_office&filter=г">г</a></li>
               <li><a href="?location=add_office&filter=д">д</a></li>
               <li><a href="?location=add_office&filter=ё">ё</a></li>
               <li><a href="?location=add_office&filter=ж">ж</a></li>
               <li><a href="?location=add_office&filter=з">з</a></li>
               <li><a href="?location=add_office&filter=и">и</a></li>
               <li><a href="?location=add_office&filter=й">й</a></li>
               <li><a href="?location=add_office&filter=к">к</a></li>
               <li><a href="?location=add_office&filter=л">л</a></li>
               <li><a href="?location=add_office&filter=м">м</a></li>
               <li><a href="?location=add_office&filter=н">н</a></li>
               <li><a href="?location=add_office&filter=о">о</a></li>
               <li><a href="?location=add_office&filter=п">п</a></li>
               <li><a href="?location=add_office&filter=р">р</a></li>
               <li><a href="?location=add_office&filter=с">с</a></li>
               <li><a href="?location=add_office&filter=т">т</a></li>
               <li><a href="?location=add_office&filter=у">у</a></li>
               <li><a href="?location=add_office&filter=ф">ф</a></li>
               <li><a href="?location=add_office&filter=х">х</a></li>
               <li><a href="?location=add_office&filter=ц">ц</a></li>
               <li><a href="?location=add_office&filter=ч">ч</a></li>
               <li><a href="?location=add_office&filter=ш">ш</a></li>
               <li><a href="?location=add_office&filter=щ">щ</a></li>
               <li><a href="?location=add_office&filter=э">э</a></li>
               <li><a href="?location=add_office&filter=ю">ю</a></li>
               <li><a href="?location=add_office&filter=я">я</a></li>
           </ul>
          <div class="directory-info-row">
              <div class="row">
                  
                
                  
                <?php //вывод офисов из БД по фильтру 

                  $database = new database;
                  $array_offices= $database -> db_get_filter_office($filter);
     
                  foreach($array_offices as  $office)
                  {?>
                  <div class="col-md-6 col-sm-6">
                      
                    <div class="panel">
                        <div class="panel-body">
                        
                            
                            <div class="pull-right hidden-phone">
                             <table>
                                 <tr>
                                      <td>
                             <form action="?action=modal_image_office" method="post" > 
                                <input type="hidden" name="of_id" value="<?= $office['of_id']?>">
                                <button class="btn btn-success btn-xs" type="submit" ><a class="fa fa-toggle-down" ></a></button>
                             </form>
                                     </td>
                                     <td>
                             <form action="?action=modal_edit_office" method="post" > 
                                <input type="hidden" name="of_id" value="<?= $office['of_id']?>">
                                <button class="btn btn-primary btn-xs" type="submit" ><a class="fa fa-pencil" ></a></button>
                             </form>
                                     </td>
                                     <td>
                             <!--<form action="?action=of_delete_office" method="post" > 
                                <input type="hidden" name="office_id" value="<?= $office['of_id']?>">
                                <button class="btn btn-danger btn-xs" type="submit" ><a class="fa fa-trash-o" ></a></button>
                             </form>-->
                                    </td>
                                     </tr>
                              </table> 

                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="thumb media-object" src="views/image_office/<?=$office['of_image']?>" alt="">
                                </a>
                                
                                <div class="media-body">
                                    <h4><?= $office['of_name'] ?></h4>
                                    <br>
                                    <address>
                                        <?= $office['of_country'].', '.$office['of_city'] ?>
                                        <br>
                                        <?= $office['of_phone'] ?>
                                        <br>
                                    </address>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  
                  <?}?>
                            
              </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
          
     <!--Modal Добавить офис -->
          <form action="?action=of_add_office" method="post">
          <div class="modal fade modal-dialog-center "  id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-content-wrap">
               <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Новый офис</h4>
                 </div>
                   
                   <div class="modal-body">
                     <input type="text" name = "of_name"    class="form-control" placeholder="Офис">
                     <br/>    
                     <input type="text" name = "of_country" class="form-control" placeholder="Страна">
                     <br/>
                     <input type="text" name = "of_city"    class="form-control" placeholder="Город">
                     <br/>    
                     <input type="text" name = "of_phone"   class="form-control" placeholder="Телефон офиса">
                     <br/> 
                   </div>
                   <div class="modal-footer">
                      <input type="submit" class="btn btn-warning"  value="Добавить">
                   </div>
                 
                   
                </div>
              </div>
            </div>
          </div>
          </form>
    <!-- Modal Добавить офис -->   

     <!--Modal  загрузка логотипа офиса-->
                            <form action='?action=of_update_avatar' method="post" class="form-horizontal" enctype = 'multipart/form-data'>
                              <div class="modal fade modal-dialog-center " id="myModal_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog ">
                                      <div class="modal-content-wrap">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                  <h4 class="modal-title">Изменить логотип офиса</h4>
                                              </div>
                                            <center><strong style="color:#F67A6E;"><?=  empty($error)? '' : $error?></strong></center>
                                            <div class="panel-body">
                                              
                                                  <input type="hidden" name = "of_id" class="form-control" value="<?= $of_id ?>">
                                                 <div class="form-group">
                                                      <div class="col-lg-6">
                                                          <input name="of_avatar" type="file" class="file-pos" id="exampleInputFile">
                                                      </div>

                                                      <div class=" col-lg-20" >
                                                          <button type="submit" class="btn btn-info" style="margin-right:180px">Сохранить</button>
                                                      </div>
                                                     
                                                  </div>
                                                
                                            </div>
                                      </div>
                                  </div>
                              </div>
                            </div>   
                        </form>
    <!-- Modal загрузка логотипа офиса --> 
          
     <!--Modal  редактировать офис-->
                            <form action="?action=of_update_office" method="post" >
                              <div class="modal fade modal-dialog-center " id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog ">
                                      <div class="modal-content-wrap">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                  <h4 class="modal-title">Редактировать офис</h4>
                                              </div>
                                              <div class="modal-body">
                                               <?php                       //вывод информации офиса из БД по id 

                                                $database = new database;
                                                
                                                if(isset($_POST['of_id']))
                                                {
                                                    $array_office= $database -> db_get_office_id($_POST['of_id']);
                                                    foreach($array_office as $office)

                                                    {?>   
                                                        
                                                     <input type="hidden" name = "of_id"    class="form-control" value="<?=$office['of_id']?>">
                                                     <input type="text" name = "of_name"    class="form-control" value='<?= $office["of_name"] ?>'>
                                                     <br/>    
                                                     <input type="text" name = "of_country" class="form-control" value="<?=$office['of_country'] ?>">
                                                     <br/>
                                                     <input type="text" name = "of_city"    class="form-control" value="<?=$office['of_city'] ?>">
                                                     <br/>    
                                                     <input type="text" name = "of_phone"   class="form-control" value="<?=$office['of_phone'] ?>">
                                                     <br/> 
                                                    
                                                  <?}
                                                  }?>
                                                <input class="btn btn-warning" type="submit" value="сохранить">
                                            </div>
                                      </div>
                                  </div>
                              </div>
                            </div>   
                        </form>
     <!-- Modal редактирвать офис --> 

    <!--footer start-->
    <footer class="site-footer">
          <div class="text-center">
              2015 &copy; CRM by Mandryka.
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
     </footer>
    <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="views/js/jquery.js"></script>
    <script src="views/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="views/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="views/js/jquery.scrollTo.min.js"></script>
    <script src="views/js/slidebars.min.js"></script>
    <script src="views/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="views/js/respond.min.js" ></script>

    <!--common script for all pages-->
    <script src="views/js/common-scripts.js"></script>
      
     
      
  </body>
</html>
